@keyframes topInputAppear {
    0% {
        opacity: 0;
        transform: translateY(90px);
    }

    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

.top_input_appear {
    animation: topInputAppear 1s ease-in-out;
}

@keyframes bottomInputAppear {
    0% {
        opacity: 0;
        transform: translateY(-90px);
    }

    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

.bottom_input_appear {
    animation: bottomInputAppear 1s ease-in-out;
}

@keyframes topTextAppear {
    0% {
        transform: translateY(85px);
    }

    100% {
        transform: translateY(0px);
    }
}

.top_text_appear {
    animation: topTextAppear 1s ease-in-out;
}

@keyframes bottomButtonAppear {
    0% {
        transform: translateY(-75px);
    }

    100% {
        transform: translateY(0px);
    }
}

.bottom_button_appear {
    animation: bottomButtonAppear 1s ease-in-out;
}
